In [ ]:
1. '''Write a Python function to accept a string value from the user and display the
count of each character in that string.'''
string=str(input('enter the string'))
len("length of the string")

In [13]:
 '''Write a Python function to find the maximum of three numbers'''

num1=int(input("enter the first number"))
num2=int(input("enter the second number"))
num3=int(input("enter the third number"))
if num1>num2 and num1>num3:
  print(num1,"is the largest")
elif num2>num1 and num2>num3:
  print(num2,"is the largest")
else:
  print(num3,"is the largest")

enter the first number23
enter the second number42
enter the third number12
42 is the largest

In [17]:
'''Write a Python function called exponent(base,exp) that returns an integer
value of base raises to the power of exp'''

base=int(input('enter the base value'))
exp=int(input('enter the exponent value'))
def exponent(base,exp):
 return(base**exp)
print(exponent(base,exp))

enter the base value2
enter the exponent value3
8

In [18]:
 '''Write a Python function to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.]'''

c=float(input("Enter the celsius:"))
f = (c * 9/5) + 32
print("The temperature in Fahrenheit is:", f)

Enter the celsius:31
The temperature in Fahrenheit is: 87.8

In [33]:
'''10=Write a Python function to calculate the factorial of a number (a nonnegative integer). The function accepts the number as an argument.'''

import math
number=int(input("Enter the number"))
def fact(n):
  if n>1:
    fact=math.factorial(n)
    return fact
  else:
    return("invalead input")

print(fact(number))

Enter the number3
6

In [ ]:
#4

def cubes(n):
    s=sum(i**3 for i in range(n))
    return(s)

number=int(input("Enter the number"))
print(cubes(number))

In [22]:
'''Write a Python program using for loop that will iterate from 1 to 15. For each
iteration, check if the current number is odd or even, and display the message
to the screen as odd or even'''
def evenodd(n):
  if n%2==0:
    value="even"
    return value
  else:
   value="odd"
   return value
for i in range (1,16):
  print(i,"-",evenodd(i))

1 - odd
2 - even
3 - odd
4 - even
5 - odd
6 - even
7 - odd
8 - even
9 - odd
10 - even
11 - odd
12 - even
13 - odd
14 - even
15 - odd

In [35]:
'''6=Write a Python function to find the most frequent item in a list of numbers. '''

l1=[2, 3, 4, 2, 5, 2]

def frequent(numbers):
    freeruent= max(set(numbers), key=numbers.count)
    return freeruent

print(frequent(l1))

2

In [30]:
''' Write a Python function to find the sum of squares of the numbers in a list'''
l1=[1,2,3,4,5,6]
sum=0
for num in l1:
    a=num**2
    sum=sum+a
print(sum)

91

In [29]:
#case study GRADE CALCULATION

In [32]:
name=char(input('enter the name'))
assesment=int(input('enter the number ofassesment'))
for i in assesment:
  type_of_assesment=input('entr the name of assesment,'i)
 score_of_assesment=int(input('enter the score of',type_of_assesment))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 5)